.navTop{
    .header{
        display: flex;
        flex-wrap: wrap;
        .dropDown{
            margin-left: auto;
        }
        @media screen and (max-width:576px) {
            height: auto;
            padding: 0 0 10px 10px;
            .dropDown{
                margin-left: 0;
                line-height: 1;
            }
        }
    }
}